<div class="header">
  <div class="wrapper-header">
    <div class="wrapper-logo">
      <div class="logo">
        <img class="logo-img" src="./assets/logo.png" alt="logo">
      </div>

      <div class="wrapper-nav">
        <app-nav></app-nav>
      </div>
    </div>

    <div class="wrapper-search">
      <div class="btn-search button-search" title="Поиск" ><mat-icon>search</mat-icon></div>
      <div class="btn-search button-add"><mat-icon>add_circle</mat-icon></div>
    </div>
  </div>

  <div class="wrapper-message">
      <div class="message-block">
        <div class="message"><mat-icon> mail_outline</mat-icon></div>
        <div class="message"><mat-icon>notifications_none</mat-icon><span class="newMas">5</span></div>
        <div class="message"><mat-icon>account_circle</mat-icon></div>
      </div>
  </div>
</div>

