<nav class="nav">
  <ul class="nav-list">
    <li class="nav-list-item">Ссылки <span class="triangle"></span></li>
    <li class="nav-list-item">Контакты <span class="triangle"></span></li>
    <li class="nav-list-item">Теги <span class="triangle"></span></li>
    <li class="nav-list-item">Просьбы <span class="triangle"></span></li>
    <li class="nav-list-item">Избранное <span class="triangle"></span></li>
    <li class="nav-list-item">Посещения <span class="triangle"></span></li>
  </ul>
</nav>
